@import '../../root-styles/variables';

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid peru;
}

.app {
  font-family: "Proxima nova", sans-serif;
  background-color: $background;

  &__container {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 66px;
  }
}
